body{
    margin:  0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240,235,216);
    max-width: 100%;}


/*          Navigation          */
/*          Navigation          */
/*          Navigation          */
/*          Navigation          */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    font-size: 18px;
    background-color: black;
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
}
.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
    text-decoration: underline;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgb(166,128,140);
    }
/*           BANNER           */
/*           BANNER           */
/*           BANNER           */
/*           BANNER           */






/*          ABOUT            */
/*          ABOUT            */
/*          ABOUT            */
/*          ABOUT            */



/*          BLOG                 */
/*          BLOG                 */
/*          BLOG                 */
/*          BLOG                 */




/*           HOME            */
/*           HOME            */
/*           HOME            */
/*           HOME            */
/*           12-COLUMN-GRID            */
.container {
    max-width: 960px; 
	margin-right: auto;
    margin-left: auto; 
    
}

.banner-image {
    height: 510px;
  	background: no-repeat center center fixed; 
}

/*row-1*/
/*row-1*/
.row1 .two, .row1 .two-b{
	height: 333px;
    background-color: rgb(85,55,57);
    box-sizing: border-box;
}
.two {
	width: 49%;
	float: left;
    margin-left: 0;
}
.two-b {
	width: 49%;
	float: right;
    margin-right: 0;
}

/*row-2*/
/*row-2*/
.row2 .three, .row2 .three-b, .row2 .three-c {
	height: 333px;
	background-color: #706677;
}
.three {
	width: 30%;
	float:left;
	margin-top: 2%;
}
.three-b {
	width: 36%;
	float:left;
    margin-left: 2%;
    margin-top: 2%;
}  
.three-c {
    width: 30%;
	float:right;
    margin-top: 2%;
}